body {
  background: rgb(30, 30, 61);
  color: white;
  font-size: 18px;
  font-family: Verdana;
  line-height: 1.6;
}

hr {
  border-color: rgb(39, 39, 103);
}

h2, a {
  color: rgb(200, 200, 19);
  text-shadow: 4px 4px 0px black;
}

a {
  text-decoration: none;
  transition: .2s;
}

a:hover {
  opacity: .8;
}

p, h2 {
  text-align: center;
}

.container {
  width: 960px;
  margin: auto;
}

.quote {
  padding-top: 50px;
  position: relative;
  width: 300px;
}

.quote-note {
  color: #333;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  text-align: center;
}

.quote-note.is-yellow {
  background: rgb(200, 200, 19);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.quote-pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -30px;
  opacity: 0;
  z-index: 1;
  transition: 0.2s;

}

.quote.is-pinned .quote-pin {
  top: 36px;
  opacity: 1;
}

.quote-pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.ioslist {
  background: white;
  color: black;
}

.ioslist ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ioslist-item {
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid rgb(215, 215, 215);
  font-family: arial;
}

.ioslist-item.is-title {
  border: none;
  background-color: rgb(215, 215, 215);
}

.ioslist-item:first-child {
  border: none;
}

.sidebar-container {
  position: relative;
  overflow: hidden;
}

.sidebar-holder {
  float: left;
  width: 660px;
}

.sidebar {
  float: left;
  margin-right: 40px;
  padding-top: 18px;
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
}

.sidebar-keepscrolling {
  margin: 250px 0;
}
