body {
  background: #D9CB9E;
  color: #1E1E20;
  font-size: 18px;
  font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

h1, h2, h3, a, .pinjs {
  color: #DC3522;
  font-family: "Cookie";
}

.pinjs, .link {
  font-size: 160%;
}

a {
  text-decoration: none;
  transition: .2s;
}

a:hover {
  opacity: .8;
}

h1, h2, h3, p {
  text-align: center;
}

h1 {
  font-size: 500%;
  margin: 10px 0;
  text-shadow: 1px 1px 1px rgb(53, 49, 37);
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 150%;
}

.container {
  width: 960px;
  margin: auto;
}


.ioslist {
  background: white;
  color: black;
}

.ioslist ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ioslist-item {
  padding: 10px;
  border-top: 1px solid rgb(215, 215, 215);
}

.ioslist-item.is-title {
  font-weight: bold;
  border: none;
  background-color: rgb(215, 215, 215);
}

.ioslist-item:first-child {
  border: none;
}

.sidebar-container {
  position: relative;
  overflow: hidden;
}

.sidebar-holder {
  float: left;
  width: 660px;
}

.sidebar {
  float: left;
  margin-right: 40px;
  padding-top: 18px;
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
}

.sidebar-keepscrolling {
  margin: 250px 0;
}
