body {
  background: #D9CB9E;
  color: #1E1E20;
  font-size: 18px;
  font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  text-align: center;
}

h1, h2, h3, a, .pinjs {
  color: #DC3522;
  font-family: "Cookie";
}

pre {
  font-size: 14px;
}

h2 {
  border-bottom: 1px solid;
  line-height: 80%;
  display: inline-block;
  margin: 20px 0;
}

h2 .pinjs {
  font-size: 100%;
}

a {
  text-decoration: none;
}

.w600 {
  width: 600px;
  margin: auto;
  text-align: left;
}

.pinjs, .link {
  font-size: 160%;
}

.link .pinjs {
  font-size: 100%;
}

.pinjs {
  text-shadow: .5px .5px 0px rgb(53, 49, 37);
}

.link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  line-height: 80%;
  display: inline-block;
  transition: .2s;
}

.link:hover {
  border-bottom: 1px solid;
}

h1 {
  font-size: 500%;
  margin: 10px 0;
  text-shadow: 1px 1px 1px rgb(53, 49, 37);
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 100%;
  font-family: "Lato";
}

.container {
  width: 960px;
  margin: auto;
}


.ioslist {
  background: white;
  color: black;
  text-align: left;
}

.ioslist ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ioslist-item {
  padding: 10px;
  border-top: 1px solid rgb(215, 215, 215);
}

.ioslist-item.is-title {
  font-weight: bold;
  border: none;
  background-color: rgb(215, 215, 215);
}

.ioslist-item:first-child {
  border: none;
}

.config-item {
  border-top: 1px solid #CFBC81;
  line-height: 1.8;
  margin-top: 34px;
  padding-top: 20px;
}

.config-item:first-child {
  border: none;
  padding-top: 0;
  margin-top: 0;
}

.custom-header {
  padding: 10px;
  transition: background-color .2s, color .2s;
  border-bottom: 1px solid rgb(181, 168, 127);
  text-align: left;
  font-family: Cookie;
  font-size: 200%;
  color: rgb(220, 53, 34);
}

.custom-header.is-pinned {
  background-color: #DC3522;
  color: white;
}

.example-title {
  margin-top: 30px;
}

.custom-example {
  height: 700px;
}

.footer {
  margin-top: 60px;
}


.social-link {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

.social-link.is-twitter {
  top: 4px;
}

.disqus {
  margin-top: 60px;
}
